.form-section {
    font-family: Arial, sans-serif;
    margin: 0 0; /* ลบ margin บนล่าง */
    padding-top: 10px; /* เพิ่ม padding ด้านบนถ้าจำเป็น */
    position: relative; /* ใช้ position เพื่อขยับ */
    top: -20px; /* ขยับขึ้นไปด้านบน */
    gap: 20px;
  }

.form-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
   
  }

.d {
    font-weight: bold; 
    margin-top: 10px;
}

.form-section hr {
    border: 0;
    margin: 10px 0;
  }

.form-section .required {
    color: red;
  }

.from-tax {
    display: flex;
    align-items: center; /* จัดให้อยู่ตรงกลางในแนวแกน Y */
    gap: 10px; /* ระยะห่างระหว่าง h2 และปุ่ม */
    border-bottom: 1.5px solid #DCDCDC; /* เส้นใต้ข้อความ */
  }
  
.from-tax h2 {
    margin: 0; /* ลบระยะขอบเริ่มต้นของ h2 */
    font-weight: bold; 
  }
  
.from-tax .btn {
    margin-left: auto; /* ดันปุ่มไปด้านขวาสุด */
  }
  
.btn {
    color: #000;
    font-size: 14px;
}

.h {
    font-weight: bold; 
    margin-top: 10px;
}

input {
    text-align: right;
    margin-left: 60px;
}

.tooltip-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 2px; /* ลดระยะห่างระหว่างไอคอนกับข้อความ */
  vertical-align: middle; /* จัดตำแหน่งแนวตั้งให้อยู่ตรงกลาง */
  position: relative;
}

.tooltip-icon:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 10px; /* ปรับระยะห่างจากไอคอน */
  left: 50%; /* ให้ tooltip อยู่ตรงกลาง */
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
}

  
  .late-filling div {
    display: flex;
    align-items: center; /* จัด label, input และไอคอนให้อยู่ในแนวเดียวกัน */
    justify-content: space-between; /* กระจายพื้นที่ */
    gap: 10px; /* เพิ่มระยะห่างระหว่าง label และไอคอน */
  }
  
.total-vat div, .late-filling div {
    display: flex;
    align-items: center; /* จัด label และ input ให้อยู่ในแนวเดียวกัน */
    justify-content: space-between; /* กระจาย label และ input */
    margin-bottom: 10px;
  }
  

